* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------------------------------Body General---------------------------------------------------- */

/*------------------------------------------------Uso de Nesting, Extend y Variable-------------------------------------- */

$fondo-gris:rgb(210, 211, 213);

body {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: justify;
  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
  h2 {
    @extend h1;
  }
  h3 {
    @extend h1;
  }
}

.body-gray {
  background-color:$fondo-gris;
}

.h1-general {
  margin: 20px;
  border-bottom: 7px solid black;
}

.h2-sub {
  text-decoration: underline;
}
