/*---------------------------------------------------------Pages Inicio --------------------------------------------------------*/

/*--Pages Inicio-----Pantallas EXTRA PEQUEÑAS (TELEFONOS EN VERTICAL <576 px----*/

@media (max-width: 575.98px) {
  .main-index {
    height: 100vh;
    background-image: url(../images/casa-ba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    text-align: start;
  }

  .div-container-index {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }

  .pages-inicio-image {
    display: none;
  }

  .h1-pages-inicio {
    color: white;
    font-size: 25px;
    text-decoration: underline;
  }

  .h2-pages-inicio {
    color: white;
    font-size: 21px;
  }
  .pages-inicio-parrafo {
    display: none;
  }
}

/*--Pages Inicio-----Pantallas PEQUEÑAS A MEDIANAS (TELEFONOS GRANDES Y TABLETS ≥768 px------*/

@media (min-width: 576px) and (max-width: 991.98px) {
  .main-index {
    height: 100vh;
    background-image: url(../images/casa-ba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 17px;
    text-align: start;
  }

  .div-container-index {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;    
  }

  .pages-inicio-image {
    display: none;
  }

  .h1-pages-inicio {
    color: white;
    font-size: 30px;
    text-decoration: underline;
  }

  .h2-pages-inicio {
    color: white;
    font-size: 25px;
  }

  .pages-inicio-parrafo {
    display: none;
  }
}

/*--Pages Inicio-----Pantallas GRANDES A EXTRA GRANDES (GRANDES PANTALLAS ≥992 px a <1200 px---*/

@media (min-width: 992px) and (max-width: 1399.98px) {
  .pages-inicio-image {
    width: 100%;
    height: auto;
  }

  .h1-pages-inicio {
    margin: 20px;
    border-bottom: 7px solid black;
  }

  .h2-pages-inicio {
    text-decoration: underline;
    margin-left: 20px;
  }
  .pages-inicio-parrafo {
    padding: 0 20px 0 20px;
  }
}

/*--Pages Inicio-----Pantallas ULTRA GRANDES (MUY ANCHAS ≥1400 px) ----*/

@media (min-width: 1400px) {
  .pages-inicio-image {
    width: 100%;
    height: auto;
  }

  .h1-pages-inicio {
    margin: 20px;
    border-bottom: 7px solid black;
  }

  .h2-pages-inicio {
    text-decoration: underline;
    margin-left: 20px;
  }
  .pages-inicio-parrafo {
    padding: 0 20px 0 20px;
  }
}
