/*-----------------------------------------------------Pages Proyectos-------------------------------------------------------*/

.h2-pages-proyectos {
  margin-left: 20px;
}

/*------------------Aplicacion de @Mixin----------------*/

@mixin arquitectura-base-flex($margin, $padding, $font-size, $bg-color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  background-color: $bg-color;
}

@mixin arquitectura-base-grid($margin, $padding, $font-size, $bg-color) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "parrafo parrafo"
    "imgcasa1 imgcasa2";
  align-items: center;
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  background-color: $bg-color;
}

/*--Pages Proyectos-----Pantallas EXTRA PEQUEÑAS (TELEFONOS EN VERTICAL <576 px---*/

@media (max-width: 575.98px) {
  .h1-pages-proyectos {
    font-size: 24px;
  }
  .h2-pages-proyectos {
    font-size: 20px;
  }

  .arquitectura-residencial-container {
    @include arquitectura-base-flex(15px, 15px, 16px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    margin-top: 15px;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(15px, 15px, 16px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-flex(15px, 15px, 16px, rgb(136, 159, 172));
  }

  .arquitectura-sustentable__imgplanimetria {
    width: 90%;
    height: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    width: 90%;
    height: auto;
    margin-top: 15px;
    border: 2px solid black;
  }

  .buttom {
    width: 30px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

/*--Pages Proyectos-----Pantallas PEQUEÑAS (TELEFONOS GRANDES ≥577 px----*/

@media (min-width: 576px) and (max-width: 767.98px) {
  .h1-pages-proyectos {
    font-size: 30px;
  }
  .h2-pages-proyectos {
    font-size: 25px;
  }
  .arquitectura-residencial-container {
    @include arquitectura-base-flex(20px, 20px, 17px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    margin-top: 20px;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(20px, 20px, 17px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-flex(20px, 20px, 17px, rgb(136, 159, 172));
  }

  .arquitectura-sustentable__imgplanimetria {
    width: 90%;
    height: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    width: 90%;
    height: auto;
    margin-top: 20px;
    border: 2px solid black;
  }

  .buttom {
    width: 30px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

/*--Pages Proyectos-----Pantallas MEDIANAS (TABLETS ≥768 px----*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .arquitectura-residencial-container {
    @include arquitectura-base-grid(20px, 30px, 18px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__parrafo {
    padding-top: 0px;
    padding-right: 30px;
    grid-area: parrafo;
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    grid-area: imgcasa1;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    grid-area: imgcasa2;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(20px, 0, 18px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__parrafo {
    padding: 30px 30px 0 30px;
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    margin-bottom: 30px;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-grid(20px, 30px, 18px, rgb(136, 159, 172));
    grid-template-areas:
      "parrafo parrafo"
      "imgparque imgplano";
  }

  .arquitectura-sustentable__parrafo {
    grid-area: parrafo;
  }

  .arquitectura-sustentable__imgplanimetria {
    grid-area: imgplano;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    grid-area: imgparque;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }

  .buttom {
    width: 35px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

/*--Pages Proyectos-----Pantallas GRANDES (DESKTOPS ≥992 px------*/

@media (min-width: 992px) and (max-width: 1199.98px) {
  .arquitectura-residencial-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__parrafo {
    padding-top: 0px;
    padding-right: 30px;
    grid-area: parrafo;
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    grid-area: imgcasa1;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    grid-area: imgcasa2;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(20px, 0, 20px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__parrafo {
    padding: 30px 30px 0 30px;
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    margin-bottom: 30px;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(136, 159, 172));
    grid-template-areas:
      "parrafo parrafo"
      "imgparque imgplano";
  }

  .arquitectura-sustentable__parrafo {
    grid-area: parrafo;
  }

  .arquitectura-sustentable__imgplanimetria {
    grid-area: imgplano;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    grid-area: imgparque;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }

  .buttom {
    width: 35px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

/*--Pages Proyectos-----Pantallas EXTRA GRANDES (GRANDES PANTALLAS ≥1200 px-----*/

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .arquitectura-residencial-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__parrafo {
    padding-top: 0px;
    padding-right: 30px;
    grid-area: parrafo;
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    grid-area: imgcasa1;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    grid-area: imgcasa2;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(20px, 0, 20px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__parrafo {
    padding: 30px 30px 0 30px;
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    margin-bottom: 30px;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(136, 159, 172));
    grid-template-areas:
      "parrafo parrafo"
      "imgparque imgplano";
  }

  .arquitectura-sustentable__parrafo {
    grid-area: parrafo;
  }

  .arquitectura-sustentable__imgplanimetria {
    grid-area: imgplano;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    grid-area: imgparque;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }

  .buttom {
    display: none;
  }
}

/*--Pages Proyectos-----Pantallas ULTRA GRANDES (MUY ANCHAS ≥1400 px) ------*/

@media (min-width: 1400px) {
  .arquitectura-residencial-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(230, 231, 232));
  }

  .arquitectura-residencial__parrafo {
    padding-top: 0px;
    padding-right: 30px;
    grid-area: parrafo;
  }

  .arquitectura-residencial__imgcasa1 {
    width: 90%;
    height: auto;
    grid-area: imgcasa1;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-residencial__imgcasa2 {
    width: 90%;
    height: auto;
    grid-area: imgcasa2;
    margin: auto;
    border: 2px solid black;
  }

  .arquitectura-urbana-container {
    @include arquitectura-base-flex(20px, 0, 20px, rgb(169, 171, 174));
  }

  .arquitectura-urbana__parrafo {
    padding: 30px 30px 0 30px;
  }

  .arquitectura-urbana__imgparque {
    width: 95%;
    height: 40%;
    margin-bottom: 30px;
    border: 2px solid black;
  }

  .arquitectura-sustentable-container {
    @include arquitectura-base-grid(20px, 30px, 20px, rgb(136, 159, 172));
    grid-template-areas:
      "parrafo parrafo"
      "imgparque imgplano";
  }

  .arquitectura-sustentable__parrafo {
    grid-area: parrafo;
  }

  .arquitectura-sustentable__imgplanimetria {
    grid-area: imgplano;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }
  .arquitectura-sustentable__imgparque {
    grid-area: imgparque;
    width: 90%;
    height: auto;
    margin: auto;
    border: 2px solid black;
  }

  .buttom {
    display: none;
  }
}
